<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pufaschool.server.dao.PuFaCourseWareDao">


    <select id="downloadCourseWareById" resultType="string">
        select courseware_url
        from t_courseware
        where id = #{id}
    </select>
    <select id="downloadCourseWareByIdList" resultType="string">
        select courseware_url from t_courseware id in
        <foreach collection="ids" item="id" open="(" close=")">
            #{ids}
        </foreach>
    </select>
    <select id="findCourseWareByCourseWareType" resultType="com.pufaschool.conn.domain.PuFaCourseWare">
        select id,
               courseware_name,
               courseware_url,
               upload,
               description,
               courseware_type,
               integration,
               create_time,
               update_time,
               is_delete,
               learn_type
        from t_courseware
        where is_delete = 0
          and courseware_type = #{courseWareTypeId}
    </select>
    <select id="findCourseWareByDeleteId" resultType="com.pufaschool.conn.domain.PuFaCourseWare">
        select id,
               courseware_name,
               courseware_url,
               upload,
               description,
               courseware_type,
               integration,
               create_time,
               update_time,
               is_delete,
               learn_type
        from t_courseware
        where id = #{deleteId}
          and is_delete = 1
    </select>
    <select id="findCourseWareDeleteList" resultType="com.pufaschool.conn.domain.PuFaCourseWare">
        select id,
               courseware_name,
               courseware_url,
               upload,
               description,
               courseware_type,
               integration,
               create_time,
               update_time,
               is_delete,
               learn_type
        from t_courseware
        where is_delete = 1
    </select>
    <delete id="deleteCourseWareByIdList">
        delete from t_courseware where is_delete=1 and id in
        <foreach collection="ids" item="id" open="(" close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>
