<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pufaschool.server.dao.PuFaTextContentDao">

    <select id="findTextContentByTextId" resultType="com.pufaschool.conn.domain.vo.SysTextContentVo">
        select content_name, id
        from t_text_content
        where text_id = #{textId}
        order by create_time asc
    </select>
    <select id="findTextContentByTextContentId" resultType="com.pufaschool.conn.domain.PuFaTextContent">
        select id,
               text_id,
               text_content,
               create_time,
               text_sort,
               update_time,
               delete_time,
               content_name,
               integration,
               is_delete
        from t_text_content
        where id = #{textContentId}
          and is_delete = 0
    </select>

</mapper>
