<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pufaschool.server.dao.UserDefaultAvatar">

    <select id="getUserDefaultAvatar" resultType="com.pufaschool.conn.domain.SysUserDefaultAvatar">
        select id, role, avatar_url from t_default_avatar where role='user'
    </select>
    <select id="getAdminDefaultAvatar">
        select  id, role, avatar_url from t_default_avatar where role='admin'
    </select>


</mapper>
